<html>
  <head>
    <title>Angular 2 QuickStart</title>
    <!--STYLES-->
    
    <!--STYLES END-->    
    <!-- 1. Load libraries -->
    <script src="vendor/angular2/bundles/angular2-polyfills.min.js"></script>
    <script src="vendor/systemjs/system.src.js"></script>
    <script src="vendor/rxjs/Rx.js"></script>
    <!--<script src="vendor/angular2/angular2.min.js"></script>
    <script src="vendor/angular2/router.min.js"></script>
    <script src="vendor/angular2/http.min.js"></script>-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoaB8mC8e2kWTChoGT6Wc4uLyasBVNq7U"></script>
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    
    <!--SCRIPTS-->
    <script src="/app.component.js"></script>
    <script src="/boot.js"></script>
    <!--SCRIPTS END-->      
    
    <!-- 2. Configure SystemJS -->
    <script>
      System.config({
        defaultJSExtensions: true,
        map: {
          angular2: 'vendor/angular2',
          rxjs: 'vendor/rxjs'
        }
      });
      System.import('boot')
            .then(null, console.error.bind(console));
    </script>
    <base href="/">
  </head>
  <!-- 3. Display the application -->
  <body>
    <%-body%>  
  </body>
</html>